@font-face {
	font-family: 'Nimbus Sans';
	src: url('fonts/nimbus-sans-l/nimbus-sans-l_regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Nimbus Sans';
	src: url('fonts/nimbus-sans-l/nimbus-sans-l_bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Nimbus Sans';
	src: url('fonts/nimbus-sans-l/nimbus-sans-l_italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Nimbus Sans';
	src: url('fonts/nimbus-sans-l/nimbus-sans-l_bold-italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'Nimbus Sans';
	src: url('fonts/nimbus-sans-l/nimbus-sans-l_regular-condensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'Nimbus Sans';
	src: url('fonts/nimbus-sans-l/nimbus-sans-l_bold-condensed.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'Nimbus Sans';
	src: url('fonts/nimbus-sans-l/nimbus-sans-l_italic-condensed.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-stretch: condensed;
}

@font-face {
	font-family: 'Nimbus Sans';
	src: url('fonts/nimbus-sans-l/nimbus-sans-l_bold-italic-condensed.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-stretch: condensed;
}

@font-face {
	font-family: "Archivo Black";
	src: url('fonts/ArchivoBlack/ArchivoBlack.woff2') format('woff2'),
			 url('fonts/ArchivoBlack/ArchivoBlack.woff') format('woff'),
			 url('fonts/ArchivoBlack/ArchivoBlack.ttf') format('truetype');
}
