html, body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, ul {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	color: #F5FF00;
	font-family: "Nimbus Sans", sans-serif;
}

body {
	background-color: #242424;
}

.app__header {
	padding: 30px 0;
}

.app__header-items {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}

.app__title {
	font-size: 50px;
	text-transform: uppercase;
	width: 100%;
}

.app__about, .app__purchase {
	padding: 0 50px;
	text-transform: uppercase;
	font-family: 'Cutive Mono', monospace;
}

.app-body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.app__coin-wrapper {
	min-width: 0;
}

.app__coin {
	height: auto;
	width: 100%;
	max-width: 800px;
	margin: -60px;
}
